@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}

/* Navigation */

#navBar {
  background-color: rgb(255, 197, 6);
}

.nav-logo {
  height: 100px;
  width: 200px;
}

.nav-link {
  font-size: 1.5em;
}

.container li {
  display: inline;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container li a:hover {
  opacity: 0.5;
  border-bottom: 3px solid aqua;
}

.header-text {
  font-size: 20px;
  font-weight: 200;
  color: white;
}
.info-container-content {
  justify-items: center;
  margin: auto;
  text-align: center;
}

.info-container p {
  font-style: 10px;
  color: white;
}

.footer-container {
  padding-top: 20px;
  display: flexbox;
  font-size: 20px;
}
.footer-container li {
  display: inline;
  padding: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container li a:hover {
  opacity: 0.5;
  border-bottom: 3px solid aqua;
}

.footer-contact {
  display: flex;
  justify-content: center;
}

/* carousel */

/* Main */

.heading-text {
  font-size: 3em;
}

.banner {
  justify-content: center;
  background-image: url('/assets/images/demo3.jpg');
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 5em;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-image {
  height: 600px;
  width: 200px;
}

.about-text-main {
  font-size: 1.4em;
}

.image-container {
  background-image: url('/assets/images/demo3-main.png');
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* About Us */

.grid-image-one {
  background-image: url('/assets/images/demo15-small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.grid-image-two {
  background-image: url('/assets/images/demo18.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-image-three {
  background-image: url('/assets/images/house2-small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.grid-image-four {
  background-image: url('/assets/images/dirt2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .carousel-image {
    height: 400px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .carousel-image {
    height: 300px;
  }
}

/* Contact */

.card-group-container {
  padding-bottom: 40px;
}

.contact-container {
  background-image: url('/assets/images/demo15.JPG');
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* About */

.about-container {
  justify-content: center;
}

.about-banner {
  background-image: url('/assets/images/machine2.JPG');
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* services */

.services-container {
  background-image: url('/assets/images/demo18.JPG');
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
